<mat-card class="gear-selection-card">
  <mat-card-header>
    <mat-card-title>Pick an item for the {{this.slot}} slot</mat-card-title>
  </mat-card-header>
  <div class="flex-container">
      <mat-card-content>
        <form>
          <mat-form-field>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [formControl]="gearSelector"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="itemSelected($event)">
              <mat-option *ngFor="let option of autocompleteOptions" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="saveSelectedItem()">Save</button>
      </mat-card-actions>
    </div>
    <app-item-display *ngIf="itemPreviewData"></app-item-display>
</mat-card>
