<form class="set-title">
  <mat-form-field class="title-form">
    <mat-label>Set Name</mat-label>
    <input [(ngModel)]="setName" matInput placeholder="Set Name" name="setNamer">
  </mat-form-field>
</form>
<div class="gear-select-layout">
  <div class="gear-set-display">
    <div class="gear-row">
      <div class="gear-display-item" (click)="selectGearItem('Main')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Sub')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Ranged')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Ammo')"></div>
    </div>
    <div class="gear-row">
      <div class="gear-display-item" (click)="selectGearItem('Head')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Neck')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Left Ear')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Right Ear')"></div>
    </div>
    <div class="gear-row">
      <div class="gear-display-item" (click)="selectGearItem('Body')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Gloves')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Left Ring')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Right Ring')"></div>
    </div>
    <div class="gear-row">
      <div class="gear-display-item" (click)="selectGearItem('Back')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Waist')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Legs')"></div>
      <div class="gear-display-item" (click)="selectGearItem('Feet')"></div>
    </div>
  </div>
  <app-gear-selection *ngIf="displayGearSelection" [slot]="slot" (chosenItem)="updateSet($event)"></app-gear-selection>
</div>
