.gear-select-layout {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.set-title {
  margin-left: 12%;

  .title-form {
    max-width: 128px;
  }
}

.gear-set-display {
  margin-left: 12%;
  margin-right: 3%;

  .gear-row {
    display: flex;
    flex-direction: row;
  }

  .gear-display-item {
    height: 32px;
    width: 32px;
    border: solid 1px #ddd;
  }
}

