<form [formGroup]="gearSetForm" (ngSubmit)="submitGearSetForm()">
  <div class="gearRow">
    <label>
      <input type="text" formControlName="main">
    </label>
    <br>
    <label>
      <input type="text" formControlName="sub">
    </label>
    <br>
    <label>
      <input type="text" formControlName="range">
    </label>
    <br>
    <label>
      <input type="text" formControlName="ammo">
    </label>
  </div>
  <div class="gearRow">
    <label>
      <input type="text" formControlName="head">
    </label>
    <br>
    <label>
      <input type="text" formControlName="body">
    </label>
    <br>
    <label>
      <input type="text" formControlName="hands">
    </label>
    <br>
    <label>
      <input type="text" formControlName="legs">
    </label>
  </div>
  <div class="gearRow">
    <br>
    <label>
      <input type="text" formControlName="feet">
    </label>
    <br>
    <label>
      <input type="text" formControlName="neck">
    </label>
    <br>
    <label>
      <input type="text" formControlName="waist">
    </label>
    <br>
    <label>
      <input type="text" formControlName="leftEar">
    </label>
  </div>
  <div class="gearRow">
    <br>
    <label>
      <input type="text" formControlName="rightEar">
    </label>
    <br>
    <label>
      <input type="text" formControlName="leftRing">
    </label>
    <br>
    <label>
      <input type="text" formControlName="rightRing">
    </label>
    <br>
    <label>
      <input type="text" formControlName="back">
    </label>
    <br>
  </div>
  <button mat-button type="submit">Submit</button>
</form>

<br>

<app-gear-selection [slot]="main" (chosenItem)="updateItem($event)"></app-gear-selection>
