.gear-select-layout {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.set-title {
  margin-left: 12%;

  .title-form {
    max-width: 128px;
  }
}

.gear-set-display {
  margin-left: 12%;
  margin-right: 3%;

  .gear-row {
    display: flex;
    flex-direction: row
  }

  .gear-row > div {
    height: 36px;
    width: 36px;
    border: solid 1px #ddd;
  }

  .gear-row > div:hover {
    background-color: #E8F0FE;
  }

  .gear-row > div > div {
    margin-top: 1px;
    margin-left: 1px;
    height: 32px;
    width: 32px;
  }
}

.save-button {
  margin-left: 12%;
  margin-bottom: 12px;
}
