@import '../node_modules/@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-red, 800, 300, 900 );
$custom-theme-accent: mat-palette($mat-light-blue);
$custom-theme-warn: mat-palette($mat-deep-orange, A200);

$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
